<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
  </head>
  <body>
    <h1>My Simple Stock Portfolio</h1>

    <h3>About this application</h3>
    <p>My Simple Stock Portfolio is an application I built from scratch as my second project
       in General Assembly's Web Development Immersive course in Santa Monica, CA.</p>

    <p>The application is a simplified stock portfolio building tool where users can "Buy" stocks and
    add them to their portfolios and "sell" some or all of any given stock. Users may buy and sell different stocks, and any given quantity of those stocks. Some information about the entire portfolio is calculated and displayed at the bottom of each user's portfolio.</p>

    <p>The application is built from scratch using Ruby on Rails. All stock information is pulled in from Yahoo! Finance and imported to the application through a .csv file. Enjoy!</p>

  </body>
</html>
