<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
  </head>
  <body>
    <h1>My Simple Stock Portfolio</h1>

    <h3>About this application</h3>
    <p>Bacon ipsum dolor amet flank bresaola sirloin rump pancetta. Bresaola pastrami frankfurter venison kielbasa filet mignon. Hamburger pig tri-tip shank pork rump shankle meatloaf short ribs drumstick frankfurter corned beef ham beef picanha. Kielbasa shankle t-bone, cupim beef ribs rump tail chuck tongue drumstick chicken pancetta swine ham meatloaf. T-bone frankfurter chuck, picanha ground round jowl beef landjaeger pancetta corned beef pig pork. Pork belly jerky pork chop tongue salami pork beef ribs. Jerky venison rump spare ribs meatball drumstick.</p>
  </body>
</html>
